{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MyBlog</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base href="/" />

    <link rel="stylesheet" href="{% static 'vendor-5452ab01e301f5d827aec31699ab315b.css' %}">
    <link rel="stylesheet" href="{% static 'my-blog-bbbd47cb0e649eda1c2516b0ebf09d14.css' %}">


  </head>
  <body>

    <div id="loading-spinner" class= "ui basic segment center aligned">
      <div class="ui large inline active text loader">Loading</div>
    </div>


    <script src="{% static 'vendor-59bbe3eac430aad7e96dd1ab20823a5e.js' %}"></script>
    <script src="{% static 'my-blog-07ed4fbce0b641c37ffda1e66c6e3141.js' %}"></script>


  </body>
</html>
