{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MyBlog</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base href="/" />

    <link rel="stylesheet" href="{% static 'vendor-75313f84b6ab32e36d8a2830ae5773e5.css' %}">
    <link rel="stylesheet" href="{% static 'my-blog-9a32a4716c059464a2a7f14c9ebc8b67.css' %}">


  </head>
  <body>

    <div id="loading-spinner"class= "ui basic segment center aligned">
      <div class="ui large inline active text loader">Loading</div>
    </div>


    <script src="{% static 'vendor-c6aa07e822268ed72003a2fd66b98467.js' %}"></script>
    <script src="{% static 'my-blog-f172869795387ccd16c78ce0069f656e.js' %}"></script>


  </body>
</html>
